@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0d0d0d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-manrope: var(--font-manrope);
  --font-funnel-display: var(--font-funnel-display);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0d0d0d;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
